
<section class="book-section">
            <img src="<%= book.image_url %>"
            alt="<%= book.title %>"
            />
            <h2><%= book.title %></h2>
            <h3><%= book.authors %></h3>
            <p><%= book.description %></p>
            <p>ISBN: <%= book.isbn %></p>
            <p>Bookshelf: <%= book.bookshelf %></p>
            <button id="edit">Edit Details</button>
        </form>
</section>


   
