    <%- include  ('../layout/head') %>
        <%- include ('../layout/header') %>
        <main>
            <%- include ('../books/edit') %>
            <%- include ('../books/detail') %>
        </main>
        <%- include ('../layout/footer') %>