<!DOCTYPE html>
<html lang="en">
    <%- include ('../layout/head') %>
<body>
    <%- include ('../layout/header') %>
    <main>
    <div class="book-section">

        <form action="/bookshelf?_method=PUT" method="POST">
         <select id="genre" name="bookshelf">
            <option value="">Please Select a Bookshelf (genre)</option>
            <% let array = [] %>
            <% homeArray.forEach(book => { %>
            <% if(!array.includes(book.bookshelf)){ %>
               <option value="<%=book.bookshelf%>">
                <%=book.bookshelf%></option>
                <% array.push(book.bookshelf) %>
                <% } %>
            <% },[]) %> 
            </select>
            <button>Submit</button>
        </form>
        <%- include ('../layout/single-book') %>
        <a href = "/searches/new">Find new books</a>


            <p>You have this many books in the Database: <%= homeArray.length %></p>
    </div>
    </main>
    <%- include ('../layout/footer') %>
</body>
</html>