<%- include ('../layout/head') %>
    <%- include ('../layout/header') %>
    <main>
        <div class="book-section">
            <p>There are <%= homeArray.length %> books in this collection</p>
            <form action="/bookshelf?_method=PUT" method="POST">
                <select id="genre" name="authors">
                    <option value="">Find Books by Author</option>
                    <% let array = [] %>
                    <% homeArray.forEach(book => { %>
                    <% if(!array.includes(book.authors)){ %>
                    <option value="<%=book.authors%>">
                        <%=book.authors.split(',').join(', ')%></option>
                    <% array.push(book.authors) %>
                    <% } %>
                    <% }) %>
                </select>
                <button>Submit</button>
            </form>
            <form action="/bookshelf?_method=PUT" method="POST">
                <select id="genre" name="bookshelf">
                    <option value="">Find Books by Bookshelf</option>
                    <% let bsArray = [] %>
                    <% homeArray.forEach(book => { %>
                    <% if(!bsArray.includes(book.bookshelf)){ %>
                    <option value="<%=book.bookshelf%>">
                        <%=book.bookshelf%></option>
                    <% bsArray.push(book.bookshelf) %>
                    <% } %>
                    <% }) %>
                </select>
                <button>Submit</button>
            </form>
            <%- include ('../layout/single-book') %>
        </div>
    </main>
    <%- include ('../layout/footer') %>